@import 'var.scss';
@import 'andy.scss';

@mixin mediaquery-subnav {
  background-size: 100%;
  @media (max-width:1124px) {
    background-size : auto;
  }
}
// hover 
@mixin hover-univeral {
  &:hover{
    transition: .3s;
    transform: scale(1.1);
  }
}
// font
@font-face {
  font-family: 'kanitregular';
  src: url('../font/kanit-regular-webfont.woff2') format("woff2"), url('../font/kanit-regular-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kanitthin';
  src: url('../font/kanit-thin-webfont.woff2') format("woff2"), url('../font/kanit-thin-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
// variable color custom
$red-be : #e40b19;
$navy-st : #0c2d4e;
$orange : #f05b55;
$gray : #fdfdfd;
$darkgray : #5f5b5b;
$BorderColor: #cccccc !global;
$navy-13 : #1369b0;
$snow-gray : #868383;

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.f-left{
  float: left;
  padding: 5px;
}
.no-result {
  display:none;
  padding-top: 20px;
  color:red;
  text-align: center;
}
body{
  font-family : 'kanitregular';
}
.thin-font{
  font-family: 'kanitthin' !important;
}
// shadow standard
.box-shad{
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.color-navy{ 
  color:$navy-st;
}
.color-darkgray{
  color: $darkgray;
}
.color-snowgray{
  color:$snow-gray;
}
ul.navbar-nav {
  li:last-child{
    @media (max-width:992px) {
      margin: 0 auto !important;      
      text-align: center;
    }
  }
}
#header{
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  position:fixed;
  width: 100%;
  z-index: 666;
  transition: background-color 0.4s ease-out;
}
.bg-gradient-blue{
  background: #010a2d;
  transition: background-color 0.4s ease-out;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 30px;
  &:before {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }
  &:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    margin: 0 0 0 20px;
  }
}
.branding{
  font-size: 0;
  width: 102px;
  height: 46px; 
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
} 
// .swaplogo{
//   background-image: url(../images/logo-black.png) !important;
// }
.h-80{
  height: 80px !important;
  transition: 0.4s ease-out;
}
.h-120{
  height: 80px;
  transition: 0.4s ease-out;
}
.navbar-items{
  position: relative;
  &::before,&::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    opacity: 0;
    left: 0;
    transform-origin:left;
    transition:0.25s ease;
    z-index: 1;
  }
  &::before{
      top: 0;      
  }
  &::after{
      bottom: 0;          
  }
  &.active, &:hover{
    &::before,&::after{
      opacity: 1;
  
    }
    // &::before{
    //   background: $white;
    // }
    &::after{
      background: #790000;
      @media (max-width : 992px) {
        background: transparent;
      }
    }
  }
  @media (max-width : 992px) {
    text-align: center;
  }
  .nav-mobile &{
    border-bottom: 1px solid ;
    border-color: rgba(119, 115, 115, 0.5);
    &.active, &:hover{
      background: rgba(#fff, 0.5);
    }
    a{
      font-size: 1.5rem;
      line-height: 1.5;
      padding: 10px 0;
    }
  }
}

.dropdown-item{
  @media (max-width:992px){
    text-align: center;
  }
}
.a-custom{
  &:active{
    color : $gray !important;
  }
 
}
// cumstom element in pages
#homepage{
  .circle__animate{
    background: url(../images/circle-homepage.png) no-repeat 100%/contain;
  }
}
#event{
  .bg-blur-headding{
    background: url(../images/dark.jpg) fixed no-repeat;
    @include mediaquery-subnav ;
  }
}
#news{
  .bg-blur-headding{
    background: url(../images/news-banner.jpg) fixed no-repeat;
    @include mediaquery-subnav ;
  }
}
#about{
  .bg-blur-headding{
    background: url(../images/img-bg-blur.jpg) fixed no-repeat;
    @include mediaquery-subnav ;
  }
}
#login{
  .bg-blur-headding{
    background: url(../images/banner-login.jpg) fixed no-repeat;
    @include mediaquery-subnav ;
  }
}
#product-brand{
  overflow-x: hidden !important;
  .bg-blur-headding{
    background: url(../images/brand-bg.jpg) fixed no-repeat;
    @include mediaquery-subnav ;
  }
  .contact-circle{
    .circle__animate{
      background: url(../images/border-circle-contactus.png) no-repeat 100%/contain;
    }
  }
  .circle__animate{
    padding: 35px;
    width: 120px;
  }

}
.contact_us_sass{
  .heading{
    &::before{
      flex: 0 20px;
    }
  }
  p , h5{
    font-family: 'kanitthin' !important;
    font-weight: 600;
  }
}

#footer{
  background-color: $black;
}
.mt-35{
  margin-top: 35px;
}
.bg-blur-headding{
  background-size: 100%;
  opacity: 0.9;
  position: relative;
  text-align: center;
  background-position: top;
  padding: 35px 0px;
  width: 100%;
  height: 400px;
    &::before{
      content: "";
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
}
.bg-gray{
  background-color: #fdfdfd;
}
.bg-darkgray{
  background-color: #3c3c3c;
 }
.bd-search{
  border: 1px solid #e5e5e5;
}
.bg-black{
  background-color: $black;
}
.bg-darkblue{
  background-color :$navy-st;
}
.bg-banner {
  background: rgba(0,0,0,0.7);
  &:before {
    content: "";
    position: fixed;
    z-index: -1;
    display: block;

    background-image: url('../images/bn-bg.jpg');
    background-size: cover;
    background-size: 100% 400px;
    width: 100%;
    height: 100%;

  }
}
.boxing-data{
  box-shadow: 0px 9px 50px #0c2d4e;
  border-radius: 50%;
  margin: auto;
  transition: .2s;
}
.set-pd{
  padding-top : 20px;
  padding-bottom : 20px;
  @media (max-width: 992px) {
    padding-top : 20px;
    padding-bottom : 20px;
  }
}
.cursor-link{
  cursor: pointer;
}
.hv-img{
  transition: .3s;
  filter: grayscale(.8);
  &:hover{
    transition: .3s;
    transform: scale(1.1);
    filter: none;
  }
}
.bd-red{
  border-top : 3px solid #790000;
}
.bd-green{
  border-top : 3px solid #00793f;
}
.bd-yellow{
  border-top : 3px solid #aaac00;
}
.bg-blue{
  background: linear-gradient(to bottom, #010a2d, #000333);
}

.bg-fix{
  background: url(../images/bg-blur.jpg) fixed no-repeat ;
  background-size: 100%;
  opacity: 0.9;
  position: relative;
  text-align: center;
  background-position: top;
  padding: 35px 0px;
  width: 100%;

    &::before{
      content: "";
      background: rgba(0, 0, 0, 0.79);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
}
.image-thumbnail-event {
  opacity: 1;
  display: block;
  margin: auto;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.partner li{
  list-style-type: none;
  float: left;
  padding : 5px 5px 0 5px;
}
.img-hv{
  transition: .3s ease;
  filter: brightness(1.8) grayscale(1) opacity(.7);
  &:hover{
  transform: scale(1.3);
  outline-offset: 1px;
  filter: brightness(1.2) grayscale(.5) opacity(.9);
  }
}
.column {
  div {
    position: relative;
    padding: 0;
    span {
      position: absolute;
      bottom: -20px;
      left: 0;
      z-index: -1;
      display: block;
      width: 300px;
      margin: 0;
      padding: 0;
      color: #444;
      font-size: 18px;
      text-decoration: none;
      text-align: center;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      opacity: 0;
    }
  }
}
figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  &:hover + span {
    bottom: -36px;
    opacity: 1;
  }
}
.hover01 figure {
  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.image {
  opacity: 1;
  display: block;
  background-color: $white;
  margin: auto;
  height: 100px;
  padding: 5px;
 
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.uk-card:hover .image {
  opacity: 0.3;
}
.uk-card:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}
.text-sd{
  text-shadow:5px 5px 5px rgba(185, 185, 185, 0.63);
}
.hd-slide{
  color: #ff2d54;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0px;
    @media (max-width:768px){
      font-size: 40px;
    }
    @media (max-width:375px){
      font-size: 28px;
    }
}
.set-pd-0{
  padding-left: 0px;
  padding-right: 0px;
}
.push-underhead{
  padding-top:80px;
 
}
#nav {
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: $white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 12px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 23px;
    }
    &:nth-child(4) {
      top: 34px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}
.overflow-menu{
  @media (max-width:992px){
    overflow: auto;
    // height: 100vh;
    padding-top: 24px;
    font-size: 24px;
    padding-bottom: 24px;
  }
}
.list-none{
  list-style: none;

}
.hide-res{
  @media (max-width:992px){
    display: none;
  }
}
.btn-custom{
  width: 150px;
  height: 40px;
  border-radius: 10px;
}
.bd-breadcump{
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
}
.bd-right-footer{
  border-right: 1px solid #4a4a4a;
  @media (max-width:768px) {
    border: none;
  }
}
#return-to-top {
  position: fixed;
  z-index: 55;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  opacity: .7;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.7s ease;
  &:hover{
    opacity: 1;
  }
}
.hover-sc{
  transition: .3s;
  &:hover{
    transition: .3s;
    transform: scale(1.5);
  }
}
.mw-set{
  margin: auto;
  max-width: 900px;
}
.mw-400{
  max-width: 400px;
}
.w-150{
  width: 150px;
}
.heading-footer{
  font-size:$h2-sm;
}
.br-set{
  display: none;
  @media (max-width : 768px) {
    display : block;
    background-color: #4a4a4a;
    height: 1px;
    max-width: 70%;
    margin: 20px auto;
 
  }
}
.map{
  width: 100%;
  height: 400px;

}
#section-1{
  padding-top:20px;
}
.slide-event{
  &::before{
    background: rgba($black, 0.7);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  div{
    z-index: 55;
  }
}
.custom-link{
  color: white !important;
  transition: .3s;
  text-decoration: none !important;
  &:hover{
    transition: .3s !important;
    color: $orange !important;
  }
}
.text-14{
  font-size: $f-14 !important ;
}
.text-16{
  font-size: $f-16 !important;
}
.text-18{
  font-size: $f-18 !important;
}
.text-20{
  font-size: $f-20 !important;
}
.text-24{
  font-size: $f-24 !important;
}


.filter-group{
  padding: 20px;
}
.underline{
  height: 1px;
  background-color:#777777;
  width: 200px;
  text-align:center;
  margin: auto;
  @media (max-width:576px) {
    display: none;
  }
}
.hv-icon-ft{
  filter: grayscale(.7);
  cursor: pointer;
  transition: .3s;
  &:hover{
    filter: grayscale(1);
    transform: scale(1.2);
    transition: .3s;
  }
}

// test-grid
.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.thumbnail {
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border : 1px solid rgba(148,148,148,.3);
  .image{
    width: 190px;
    height: 190px;
  }
}
.img-event{
  padding-top:20px;
}
.mh-240{
  min-height: 190px;
  // @media (max-width:992px) {
  //   min-height: 190px;
  // }
  
}
.item.list-group-item {
  float: none;
  width: 100%;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
  .name{
    display: flex;
    width: 100%;
    justify-content: left ;
    align-items: left;
    text-align: left;
    text-transform: uppercase;
    
  
    &:before {
      content: '';
      border-top: 2px solid;
      margin: 0 20px 0 0;
      flex: 0;
    }
    &:after {
      content: '';
      border-top: 2px solid;
      margin: 0 20px 0 0;
      flex:0;
      margin: 0 0 0 20px;
    }
    
  }

  .img-event {
    float: left;
    width: 30%;
  }
  .image{
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 5px;
  }
  .img-event{
    padding-top:0;
  }
  .list-group-image {
    margin-right: 10px;
  }
  .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
  }
  .caption {
    float: left;
    width: 35%;
    margin: 0;
    
  }
  
  .custom-caption{
    padding-top:50px;
  }
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  .mh-240{
    min-height: 200px;
  }
 
}
.icon-hv{
  cursor: pointer;
  padding: 5px;
  transition: .3s;
  &:hover{
    transition: .3s;
    transform: scale(1.1);
  }
}
.swap-resp{
  @media (max-width:768px) {
    display: none;
  }
}
.ico-social-hv{
  transition: .3s;
  cursor: pointer;

  &:hover{
    transition: .3s;
    transform: scale(1.4);

  }
}
// class in grid
.name{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  

  &:before {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }
  &:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    margin: 0 0 0 20px;
  }
  
}
.address{
  // color: lighten( $snow-gray, 30% ) ;
  font-family: 'kanitthin' !important;
  font-weight: 700;
}
.btn-custom-blue{
    background-color: $white;
    color : $navy-st;
    border: 2px solid $navy-13;
    
  &:hover{
    background-color : $navy-13 ;
    color: $white;
  }
}
@keyframes example {
  0%   { opacity: 0;}
  50% { opacity: 1;}
}
@keyframes left-right {
  0%   { opacity: 0;left:-50%;}
  50% { left:0;opacity: 1;}
}
.animate-custom{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-direction: normal;  
}
.animate-left-right{
  -webkit-animation-name: left-right; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: left-right;
  animation-duration: 4s;
  animation-direction: normal;  
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
.custom-f{
  @media (max-width:450px) {
    font-size: 20px !important; 
  }
}
.custom-f-h1{
  @media (max-width:450px) {
    font-size: 27px !important; 
  }
}
//searchbar
 .search-box{
  max-width: 850px;
  margin: auto;
 }
//  masonry แบบอิฐ
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
  height: 600px;
}

.grid-item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333;
  border-radius: 5px;

}
.img-1{
  grid-column: span 3;
  grid-row: span 1;

}

.img-2 {
  grid-column: span 2;
  grid-row: span 1;
}

.img-3 {
  grid-column: span 5;
  grid-row: span 2;
}
.img-4{
  grid-column: span 2;
    grid-row: span 1;
}
.img-5{
  grid-column: span 1;
  grid-row: span 1;
}
// scrollfade
.fade-scroll{
  opacity: .2;
}
.custom-button{
  font-size: 20px;
  text-align : center;
  background-color: $navy-13;
  color: white;
  // border: 2px solid #fff;
  width: 130px;
  padding:10px;
  margin: auto;
  border-radius: 10px;
  transition: .3s;
  &:hover{
    transition: .3s;
    background-color: #fff;
    border : 2px solid $navy-13;
    color: $navy-13 !important;
  
  }
}
.custom-button-w
{
  font-size: 20px;
  background-color: $white;
  color: $navy-13;
  // border: 2px solid #fff;
  width: 130px;
  padding:10px;
  margin: auto;
  transition: .3s;
  &:hover{
    transition: .3s;
    background-color: $navy-13;
    border : 2px solid $white;
    color: $white !important;
  
  }
}
.hd-pagination{
  font-size: 45px;
}
.feature__div{
  text-align: center;
  &:hover{
    .img_in_circle{
      -webkit-transform: scale(1.2);
      transform: rotate(-59deg) scale(1.2);
    }
    .text_circle{
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    .circle__animate{
      -webkit-transform: rotate(59deg);
      transform: rotate(59deg);
    }
  }
}
.circle__animate{
  background: url(../images/circle-contactus.png) no-repeat 100%/contain;
  padding: 50px;
  width: 150px;
  margin: auto;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  position: relative;

  &:after{
    -webkit-transform: rotate(-59deg);
    transform: rotate(-59deg);
    transition: .3s;
  }
}
.img_in_circle{
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.text_circle{
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.btn-login{
  background-color: $black;
  border: 2px solid;
  border-radius: 10px;
  transition: .3s;
  &:hover{
    background-color: $white;
    transition: .3s;
    color:$black !important;
  }
 
}
.headding_news{
  letter-spacing: 0.7px;
}
.img_news{
  width: 400px;
  @media (max-width:992px) {
    width:100%;
  }
}
.sub_news{
  color: gray;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 5px;
}
.from_news{
  padding-top: 5px;
}
.link_news{
  text-decoration: none !important;
  color: $navy-13;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .3s;
  &:hover{
    color: $orange;
    transition: .3s;
  }
}
.bd-bottom{
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(148,148,148,.3);
}
.bd-top{
  padding-top: 20px;
  border-top: 1px solid rgba(148,148,148,.3);
}
.custom-pd{
padding: 5px;
}
.text-news-heading{
  position: absolute;
  z-index: 99;
  bottom: -30px;
  padding: 0 20px 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #000;
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-top: 50%;
    transition: .3s;
    &:hover{
      padding-top: 30%;
      transition: .3s;

    }
  }
  .overlay-coming {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-top: 40%;
    transition: .3s;
    &:hover{
      padding-top: 25%;
      transition: .3s;

    }
  } 
  img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  }
  &:hover img {
    opacity: 0.3;
    filter: alpha(opacity = 40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  h2 {
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    position: relative;
    font-size: 30px;
    overflow: hidden;
    padding: 0.313em ;
    background : rgba(1, 13, 56, 0.85);
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: '';
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
 
  }
  span{
    font-size: 15px;
  }
  &:hover h2:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

  }
  
  a, p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  &:hover {
    a, p {
      text-align: left;
      padding-left: 0.313em;
      opacity: 1;
      filter: alpha(opacity = 100);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
.border-color-custom-blue{
  border-color: $red-be !important;
}
.search-bar-mb{
  display: none;
  @media (max-width:992px) {
    display: block;
  }
}
.search-bar-dt{
  @media (max-width:992px) {
    display: none;
  }
}
.mh-50{
  min-height: 80px;
}
.mw-300-uk-slide{
  max-width: 278px;
  @media (max-width:1200px){
    max-width: 312px;
  }
  @media (max-width:992px){
    max-width: 350px;
  }
  @media (max-width:768px){
    max-width: 255px;
  }
  @media (max-width:575px){
    max-width: 270px;
  }
 
  @media (max-width:375px){
    max-width: 340px;
  }
  @media (max-width:330px){
    max-width: 285px;
  }  
}
.max-w-900{
  max-width: 950px;
  margin: auto;
}
.bd-rd{
  border-radius: 10px;
}
.custom-input{
  background: transparent !important;
  color: white;
  height: 45px;
  &:focus{
    color: white !important;
  }
}
// main-news-pages{
.news-main-grid{
  height: 500px;
  width: 100%;
}
.sub-news-grid{
  height: 250px;
  width: 100%;
}
.bd-l{
  border-left: 1px solid;
  @media (max-width:992px) {
    border-left: none;
  }
}
.underlines{
  height: 1px;
  background-color:#777777;
  width: 200px;
  text-align:center;
  margin: auto;
 
}
.m-auto-custom-resp{
  margin: auto;
  @media (max-width:580px) {
    margin: 0;
  }
}
.border-detail-pdt{
  border: 1px solid rgba(132, 132, 132, 0.47);
  padding: 20px;
}
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-gallery{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  &:hover{
    transition: .3s ease;
    opacity: .3;
    .icon{
      opacity: 1;
    }
  }
  .icon{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
.bg-service-detail-c{
  background: url(../images/bg-service-detail-content.jpg) fixed no-repeat;
  opacity: .9;
  background-attachment:fixed;
  position: relative;
  text-align: center;
  background-position: center;
  padding: 35px 0;
  background-size: 100% 100%;
    &::before{
      content: "";
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @media (max-width:992px) {
      background-size: unset;
    }
}
.img-service-company{
  width: 120px;
  height: 120px;
  border: 3px solid gainsboro;
  padding: 15px;
  transition: .3s;
}
.feature_sv{
  &:hover{
    .img-service-company{
      transition: .3s;
      transform: scale(1.1);
      border: 3px solid $navy-13;
      border-radius: 10px;
      padding: 5px;
      // box-shadow:5px 5px 30px grey; 
    }
    .hv-sv-text{
      transition: .3s;
      transform: scale(1.1);
    }
  }
}
.text-no-ud{
  text-decoration: none !important;
}  
.contact-vdo-cn{
  transition: .3s;
  @include hover-univeral;
}
.img-logo-detail-pdc{
  width: 340px;
  @media (max-width:992px) {
    width: 200px;
  }
}
.bd-searchbar{
  border: 10px solid rgba(148,148,148,.3);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.bd-r{
  border-right: 1px solid rgba(148,148,148,.3);
  padding-right: 5px;
  @media (max-width:992px) {
    border-right: none;
    padding-right: 0;
  }
}
.custom-padding{
  margin: auto;
  @media (max-width:992px) {
    margin: unset;
    padding-top: 10px;
  }
}
.invert-c{
  filter: invert(100%);
}
.bd-custom{
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  @media (max-width:768px) {
    border-left: none;
    border-right: none;
  }
}
.resp-hidden{
  @media (max-width:768px) {
    display: none;
  }
}
.bd-breadcrumb{
  border-right: 1px solid #5a5858;
  @media (max-width:768px){
    border-right: none;
  }
}